.chat {
    width: 40rem;
}


.userDiv,
.assistantDiv {
    width: 40rem;
    margin: 0.25rem 0;

}

.userDiv {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: right;
}

.assistantDiv {
    justify-content: flex-start;
    line-height: 2;

}

.userMessage {
    display: inline-block;
    padding: 0.8rem;
    border-radius: 20px;
    background-color: #212121;
    color: #fff;
    max-width: 75%;

}

.assistantMessage {
    display: inline-block;
    padding: 0.8rem;
    border-radius: 20px;
}

.bottom_space {
    margin-bottom: 50px;
}