.chatwindow {
    background-color: #121212;
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.chat_interface {   
    overflow-y: auto;
    scrollbar-width: none;
    word-wrap: break-word;
    white-space: normal;
}

.chat_interface h1{
    text-align: center;
}

/* Navbar */

.chatwindow_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.5rem;
}

.model {
    margin-left: 1rem;
}

.logout {
    margin-right: 1rem;
}

.logout_btn {
    background-color: inherit;
    color: white;
    border: none;
}

.logout_btn i {
    margin-left: 0.5rem;

}


/* Chatwindow bottom */

.chatwindow_bottom {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 100%;

}

input:focus {
    box-shadow: none;
    outline: none;

}

input {
    background-color: #212121;
    border: none;
    height: 3rem;
    width: 40rem;
    border-radius: 1rem;
    padding: 0.25rem 0 0.5rem 1rem;
    caret-color: white;
    font-size: 1.2rem;
    color: white;
}

.chatwindow_input {
    margin-bottom: 1rem;

}

.chatwindow_input button {
    border: none;
    background-color: #212121;
    position: relative;
    right: 2.5rem;
}

.chatwindow_input button i {
    color: white;
}



.disclaimer {
    margin-bottom: 1rem;
}