/* Sidebar block */
.sidebar {
    height: 100vh;
    width: 22.8rem;
    background-color: #212121;
    color:#ffffff;
}

.sidebar--closed {
    display: none;
}

/* Top */
.sidebar__top {
    margin: 0.625rem;
    width: 21.875rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    border: 0.0625rem solid white;
    border-radius: 0.625rem;
    justify-content: space-between;
    align-items: center;
}

.sidebar__logo {
    width: 11%;
    margin: 0.625rem;
    background-color: #ffffff;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar__close-btn {
    background-color: #121212;
    border: none;
}

.sidebar__close-icon {
    color: #ffffff;
    margin-right: 0.625rem;
}

/* New Chat */
.sidebar__new-chat {
    margin: 2rem 0.4375rem;
}

.sidebar__new-chat-btn {
    color: white;
    background-color:#212121;
    width: 21.875rem;
    border: none;
    display: flex;
    justify-content: flex-start;
    font-size: 1.125rem;
    align-items: center;
    border-radius: 0.625rem;
    height: 2.5rem;
}

.sidebar__new-chat-btn:hover {
    background-color: #121212;
}

.sidebar__new-chat-icon {
    margin-right: 0.625rem;
    font-size: 1.125rem;
}

/* History / threads */
.sidebar__history {
    width: 21.875rem;
    display: flex;
    flex-direction: column;
    margin: 0 0.625rem 1.25rem;
}

.sidebar__history-title {
    padding: 0.625rem;
}

.sidebar__threads {
    margin-top: 0.9375rem;
    padding-left: 0;
}

.sidebar__thread-item {
    padding: 0.75rem;
    list-style: none;
    cursor: pointer;
    border-radius: 0.625rem;
}

.sidebar__thread-item:hover {
    background-color: #121212;
}

/* Bottom user area */
.sidebar__bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 0.75rem;
    padding: 0.75rem;
    border-radius: 0.625rem;
    width: 20rem;
    margin: 0 0.625rem 0.625rem;
}

.sidebar__user-icon-wrapper {
    margin-right: 0.625rem;
    padding: 0.4375rem;
    background-color: blue;
    border-radius: 50%;
}

.sidebar__username {
    font-weight: 100;
    font-size: 1rem;
}

.sidebar__bottom:hover {
    background-color: #121212;
}